body {
    background-color: #121212;
    color: #e0e0e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}
.form-control {
    background-color: #2c2c2c;
    color: #fff;
    border: none;
}
input:placeholder-shown {
    color:#fff;
}
.form-control:focus {
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    box-shadow: none;
}
.btn-primary {
    background-color: #6a0dad; /* Violeta */
    border: none;
}
.btn-primary:hover {
    background-color: #5b0bb5; /* Violeta mais escuro */
}
.text-center {
    margin-top: 1rem;
}