<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliar Alunos</title>
</head>
<body>
    <h1>Avaliar Alunos - Aula {{ aula_id }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>Resposta</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <a href="/analisar_aluno/{{aluno['id']}}"><td>{{ aluno['nome'] }}</td></a>
                <td>
                    <a href="{{ url_for('teacher.analisar_aluno',aluno_id=aluno['id'])}}">Analisar Aluno</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
