<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2W - Aprendendo Robótica e Programação</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='/img/C2W.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/CSS/home.css')}}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <span class="navbar-brand ml-3"><img class="logo"src="{{url_for('static',filename='/img/C2W_2.png')}}"  alt="C2W Logo" width="100" height="100"></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link text-light" href="/">Início</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Sobre</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/cadastro">Cadastro</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="#">Contato</a></li>
                <button class="btn btn-c2w ml-3" type="button" data-toggle="modal" data-target="#modalLogin">Login</button>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- Cursos Oferecidos -->
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="mb-4" style="color: #00ffcc;">Cursos Oferecidos</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/tecnologia.png') }}" alt="Curso de Tecnologia">
                            <div class="card-body">
                                <h5 class="card-title">Tecnologia</h5>
                                <p class="card-text">Aprenda sobre as mais recentes inovações em tecnologia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{url_for('static',filename='/img/excel.avif')}}" alt="Curso de Matemática">
                            <div class="card-body">
                                <h5 class="card-title">Matemática</h5>
                                <p class="card-text">Domine conceitos de matemática aplicada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/portugues.webp') }}" alt="Curso de Português">
                            <div class="card-body">
                                <h5 class="card-title">Português</h5>
                                <p class="card-text">Aprimore suas habilidades em língua portuguesa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/eletronica.avif') }}" alt="Curso de Eletrônica">
                            <div class="card-body">
                                <h5 class="card-title">Eletrônica</h5>
                                <p class="card-text">Explore os fundamentos da eletrônica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{ url_for('static', filename='img/robotica.png') }}" alt="Curso de Robótica">
                            <div class="card-body">
                                <h5 class="card-title">Robótica</h5>
                                <p class="card-text">Construa e programe robôs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="{{url_for('static',filename='/img/programação.png')}}" alt="Curso de Programação">
                            <div class="card-body">
                                <h5 class="card-title">Programação</h5>
                                <p class="card-text">Aprenda a programar em diversas linguagens.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logo -->
            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid mb-6" src="{{ url_for('static', filename='img/c2w_robo1.jpg') }}" alt="Logo">
            </div>
        </div>

        <!-- Carrossel de Equipe -->
        <div class="carousel-container mt-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="{{url_for('static',filename='/img/allan.jpeg')}}" alt="Foto de Allan">
                            <div class="card-body">
                                <h5 class="card-title">Allan</h5>
                                <p class="card-text">Programador, Responsável pelo conteudo de PHP,PYTHON,JAVASCRIPT,HTML E CSS, BOOTSTRAP, JAVA e Mysql</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="{{url_for('static',filename='/img/fabio.jpg')}}" alt="Foto de Fabio">
                            <div class="card-body">
                                <h5 class="card-title">Fabio</h5>
                                <p class="card-text">Especialista em eletrônica e robótica aplicada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="{{url_for('static',filename='/img/luisguilherme.jpg')}}" alt="Foto de Luis Guilherme">
                            <div class="card-body">
                                <h5 class="card-title">Luis Guilherme</h5>
                                <p class="card-text">Entusiasta em programação e tecnologias inovadoras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="{{url_for('static',filename='/img/guilhermelira.jpg')}}" alt="Foto de Guilherme Lira">
                            <div class="card-body">
                                <h5 class="card-title">Guilherme Lira</h5>
                                <p class="card-text">Focado em matemática e conceitos avançados de robótica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="{{url_for('static',filename='/img/jessica.jpg')}}" alt="Foto de Jessica">
                            <div class="card-body">
                                <h5 class="card-title">Jessica</h5>
                                <p class="card-text">Apta em tecnologias e gerenciamento de projetos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <span>© 2024 C2W - Todos os direitos reservados.</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
